* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $grey-body-text;
    font-family: 'source_sans_probold';
}

@font-face {
    font-family: 'source_sans_probold';
    src: url('../../fonts/SourceSansPro-Bold.ttf');
}

@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('../../fonts/SourceSansPro-SemiBold.ttf');
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('../../fonts/SourceSansPro-Regular.ttf');
}

.dotted-heading-wrap {
    margin: 20px 0;
    font-family: source_sans_proregular;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    display: block;
    float: left;
    width: 100%;
    line-height: 35px;
    &:before {
        position: absolute;
        top: 50%;
        z-index: 1;
        display: block;
        width: 100%;
        height: 1px;
        margin-top: -1px;
        border-top: 2px dashed #a7a9ac;
        content: "";
    }
    .heading {
        position: relative;
        z-index: 1;
        padding: 0 30px;
        background: #fff;
        display: inline-block;
        color: #a7a9ac;
        font-family: source_sans_prosemibold;
        font-size: 24px;
    }
}

.no-wrap {
    flex-wrap: nowrap;
}

.fa-facebook {
    background-color: #6081c0;
}

.fa-instagram {
    background-color: #c03694;
}

.fa-snapchat {
    background-color: #f9b927;
}

.fa-twitter {
    background-color: #4abbe9;
}